<div class="login-info ng-cloak">
    <span>
		<a void-href>
            <img ng-if="user.picture" ng-src="[[user.picture]]" alt="me" class="online">
            <span>[[user.username]]</span>
        </a>
     </span>
</div>