<div id="user-content" class="user-body">
			
	<div class="user-animation-container"
		 data-smart-router-animation-wrap="user user@app.user"
		 data-wrap-for="#user-content .table-wrap">
		<div ui-view="user"
			 data-smart-fit-app-view="#user-content .table-wrap"
			 data-leading-y="95"></div>
	</div>
</div>