<div id="content">

	<div class="row">
		<big-breadcrumbs icon="facebook" items="['User', 'Media Account List']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
	</div>
	
	<div class="row">
		<section widget-grid id="widget-grid" class="col-xs-12">
			<div jarvis-widget id="table-hover-states-widget" data-widget-color="greenDark" data-widget-editbutton="false">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>

					<h2>Media Account List</h2>
				</header>
				
				<div>
					<div class="widget-body no-padding">
						
						<div class="table-responsive">
							<div class="clearfix toolbar">
								<div class="col-sm-4 col-xs-12">
									<div class="input-group">
										<span class="input-group-addon input-sm">
											<i class="glyphicon glyphicon-search"></i>
										</span>
										<input type="search" class="form-control input-sm" placeholder ng-model="search">
									</div>
								</div>
								
								
							</div>
							
							<table class="table table-hover">
								<thead>
									<tr my-sort-columns predicate="predicate" reverse="reverse">
										<th my-sort-by="name">User</th>
										<th my-sort-by="email">Email</th>
										<th my-sort-by="social_accounts.count">Social Account</th>
										<th my-sort-by="friends.count">Friends</th>
										<th my-sort-by="created">Created</th>
									</tr>
								</thead>
								<tbody ng-if="users.length==0">
									<tr>
										<td colspan="7">No user is found</td>
									</tr>
								</tbody>
								<tbody ng-if="users.length">
									<tr ng-repeat="u in users|filter:search|orderBy:predicate:reverse">
										<td>
											<img data-ng-src="data:image/png;base64,[[u.avatar]]" src="/bundles/admin/images/male.png"/>
											<span>[[u.name]]</span>
										</td>
										<td ng-bind-template="[[u.email]]"></td>
										<td ng-bind-template="[[u.social_accounts.count]]"></td>
										<td ng-bind-template="[[u.friends.count]]"></td>
										<td ng-bind-template="[[u.created * 1000 | date:'yyyy-MM-dd HH:mm']]"></td>
										
									</tr>
								</tbody>
							</table>

						</div>

					</div>
				</div>
			</div>
		</section>
	</div>
</div>