<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8" data-sparkline-container>
	<div class="col-xs-12">
		<ul id="sparks" class="row">
			<li class="sparks-info">
				<h5> Trips <span class="txt-color-purple">{{getTripTotalCount()}}</span></h5>
				<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
					{{getTripSummary()}}
				</div>
			</li>
			<li class="sparks-info">
				<h5> Requests <span class="txt-color-blue">{{getRequestTotalCount()}}</span></h5>
				<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
					{{getTripRequestSummary()}}
				</div>
			</li>
		</ul>
	</div>
</div>
			