<!-- HEADER -->

{{ include( "AdminBundle:Template:Partials/header.html.twig") }}

<!-- END HEADER -->


<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->

{{ include( "AdminBundle:Template:Partials/navigation.html.twig") }}


<!-- END NAVIGATION -->

<!-- MAIN PANEL -->
<div id="main" role="main">

    <demo-states></demo-states>

    <!-- RIBBON -->
    <div id="ribbon">
        
        <!--span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" reset-widgets
                  tooltip-placement="bottom"
                  tooltip-html-unsafe="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings.">
                <i class="fa fa-refresh"></i>
            </span>
        </span-->

        <!-- breadcrumb -->
        <state-breadcrumbs></state-breadcrumbs>
        <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->

    <div data-smart-router-animation-wrap="content content@app" data-wrap-for="#content">
        <div data-ui-view="content" data-autoscroll="false"></div>
    </div>

</div>
<!-- END MAIN PANEL -->

<!-- PAGE FOOTER -->

{{ include( "AdminBundle:Template:Partials/footer.html.twig") }}


<!-- END PAGE FOOTER -->


