/**
 * Thumbup Admin Main CSS
 * @author: Haiping Lu
 * @create: 18/06/2015
 */
@font-face {
    font-family: 'Bebas Neue';
    src:url('/bundles/admin/fonts/bebas_neue/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    font-size: 100%;
}
body {
    font-size: 0.95em;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    margin: 0;
    padding: 0;
	min-height: 100%;
	position: relative;
	background: url(/bundles/admin/images/mybg.png);
}

/* Loading Animation */
.processing {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0);
    opacity: 1;
    z-index: 0;
    top: 0;
    left: 0;
}
.processing:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.processing > img {
    vertical-align: baseline;
}
.processing > i.fa.fa-spin {
	font-size: 5em;
}

/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
select.data-loading {
	background-image: url(../img/select2-spinner.gif)!important;
	background-repeat: no-repeat;
	background-position: 99% 50%;
	padding-right: 27px;
}
small.help-block:before {
	content: "\f071";
	display:inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
small.notice-block:before {
	content: "\f05a";
	display:inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering: auto;
	color: blue;
	margin-right: 3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.readonly .form-control {
	background: #EEEEEE;
}
.no-padding-left {
	padding-left: 0 !important;
}
.ui-sortable-handle {
	cursor: move;
	margin: 5px 0;
	border: 1px solid #EEE; 
}
.ui-sortable-handle:hover {
	background:#EFE1B3;
}
/* sort image in product form */
.ui-sortable-helper{

	margin: 5px 0;
	border: none;
	background-color: #DFB56C;
	display: inline-table;
}
/* image column (first column) */
.table > tbody > tr > td.image-column {
	text-align: center;
}
/* table cell vertical align */
.table > tbody > tr > td {
	vertical-align: middle;
}
.content-title {
	height: 70px;
	padding: 20px 14px;
}
.content-title h1 {
	line-height: 33px;
	margin: 0;
}
/* ng-form */
.has-error small.help-block {
	margin-bottom: 0;
}
.toolbar {
	padding-top: 5px;
	padding-bottom: 5px;
}
/* sorting arrow on table head */
thead .sorting {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMVEUAAADIyMjl5eVIBBP/AAAAAXRSTlMAQObYZgAAAClJREFUCNdjwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC) no-repeat center right;
}
thead .sorting_asc {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAAB1JREFUCNdjwAkcgPgBAwPjBwYG5h8MDOx/GAgBAKRJBBCQbHkwAAAAAElFTkSuQmCC) no-repeat center right;
}
thead .sorting_desc {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAABxJREFUCNdjIATY/zAwMP9gYGD8AOQ8AGIHnEoBkNkEEEbbutQAAAAASUVORK5CYII=) no-repeat center right;
}
thead th a {
	padding-right: 10px;
}
/* angular-ui-select */
ul.select2-result-single {
	padding-left: 0;
}
.trip-type-select {
	line-height: 25px;
}