{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Available demos</h1>
    <ul id="demo-list">
        {% for k, v in routes %}
		<li><a href="{{ path(k) }}">{{k}}</a></li>
		{% endfor %}
    </ul>
{% endblock %}
