{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block content %}
    <h1 class="title">Login with Phone</h1>


    {% if error is defined %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path("api_v1_login_phone") }}.json" method="post" id="login">
        
		<div>
            <label for="country">Country</label>
            <select id="country" name="country">
				<option value="61">Australia</option>
				<option value="86">China</option>
				<option value="64">New Zealand</option>
			</select>
        </div>
		
		<div>
            <label for="phone">Phone</label>
            <input type="number" id="phone" name="phone" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
        </div>

        <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">Sign in</span>
                </span>
            </span>
        </button>
    </form>
{% endblock %}