{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block content %}
    <h1 class="title">User Profile</h1>


    {% if error is defined %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path("api_v1_user_profile") }}.json" method="get" id="profile">
        
		<div>
            <label for="apikey">API Key</label>
            <select id="apikey" name="apikey">
				{% for k in tokens%}
				<option value="{{ k.key }}">{{ k.key }}</option>
				{% endfor %}
			</select>
        </div>

        <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">Sign in</span>
                </span>
            </span>
        </button>
    </form>
{% endblock %}