<div id="trip-content" class="trip-body">
			
	<div class="trip-animation-container"
		 data-smart-router-animation-wrap="trip trip@app.trip"
		 data-wrap-for="#trip-content .table-wrap">
		<div ui-view="trip"
			 data-smart-fit-app-view="#trip-content .table-wrap"
			 data-leading-y="95"></div>
	</div>
</div>